.cms-gradient1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #eeb52a;
  opacity: 0.85;
  z-index: 1;
  /* Place above the base background */
  border-radius: inherit;
  transition: all 300ms linear 0ms;
}

.cms-gradient1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* Added z-index to stack on top of ::before */
  z-index: 2;
  background: linear-gradient(to bottom, rgba(195, 0, 0, 0) 0%, rgba(195, 0, 0, 0.04) 3%, #2E3192 80%) !important;
  border-radius: inherit;
  transition: all 300ms linear 0ms;
}