.slider {
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-top: -150px;
  z-index: 1;
}

.slider .list {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider .list .item {
  position: absolute;
  inset: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.slider .list .item.active {
  opacity: 1;
  z-index: 10;
}

.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .list .item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(46, 49, 146, 0.45);
  z-index: 1;
}

.slider .list .item::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.65;
  background: linear-gradient(to bottom,
      rgba(46, 49, 146, 1) 0%,
      rgba(46, 49, 146, 1) 19%,
      rgba(46, 49, 146, 0) 65%,
      rgba(46, 49, 146, 0) 100%);
  z-index: 2;
}

.slider .list .item .content {
  position: absolute;
  left: 10%;
  bottom: 50%;
  width: 1000px;
  max-width: 80%;
  ;
  color: white;
  z-index: 3;
  transform: translate(-60px, 220px);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.slider .list .item.active .content {
  transform: translate(0, 220px);
  opacity: 1;
}

.slider .list .item .content p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 10px;
}

.slider .list .item .content h2 {
  color: #fff;
  font-size: 80px;
  font-weight: bold;
  line-height: 1.2;
}

.slider .list .item .content p {
  width: 55%;
  font-size: 17px;
  font-weight: bold;
}

.slider .list .item .content p:nth-child(3) {
  margin-top: 10px;
}

.arrows {
  position: absolute;
  top: 50%;
  z-index: 100;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 96%;
  justify-content: space-between;
  margin: 0 30px;
}

.arrows button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: rgba(238, 238, 238, 0.3);
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px 15px 8px;
}

.arrows button:hover {
  background-color: #fff;
  color: #eeb52a;
}

.thumbnail {
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 12px;
  padding: 0 30px;
  height: auto;
  overflow-x: auto;
  z-index: 11;
}

.thumbnail::-webkit-scrollbar {
  display: none;
}

.thumbnail .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  width: 180px;
  height: 170px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  cursor: pointer;
  flex-shrink: 0;
  color: #fff;
  font-size: 19px;
  font-weight: bold;
  transition: all 0.4s ease;

}

/* IMAGE BELOW TEXT */
.thumbnail .item img {
  width: 48px;
  z-index: 1;
  height: 48px;
  pointer-events: none;
}

/* TEXT ABOVE IMAGE */
.thumbnail .item .content {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 14px;
  transition: color 0.3s ease;
}

/* HOVER */
.thumbnail .item:hover {
  background-color: #2E3192;
  filter: blur(0) brightness(1);
}

.thumbnail .item:hover .content {
  color: #fff;
}

/* ACTIVE */
.thumbnail .item.active {
  background-color: #2E3192;
  filter: blur(0) brightness(1);
}

.thumbnail .item.active .content {
  color: #fff;
}


.slbutton {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2e3192;
  box-shadow: 0 0 0 2px rgb(46 49 146) inset;
  color: white;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  border: none;
  font-weight: bold;

}

.slbutton:hover {
  background-color: #fff;
  color: #EEB52A;
  box-shadow: 0 0 0 2px rgb(255, 255, 255) inset;

}

.slbutton1 {
  display: inline-block;
  margin-top: 20px;
  margin-left: 10px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;

}

.slbutton1:hover {
  background-color: #fff;
  color: #EEB52A;

}

@media (max-width: 1024px) {
  .slider .list .item .content h2 {
    font-size: 42px;
  }

  .slider .list .item .content {
    transform: translate(-20px, 170px);
  }

  .slider .list .item.active .content {
    transform: translate(0, 170px);
  }

  .slider .list .item .content p {
    width: 100%;

  }

  .arrows {

    display: none;
  }

  .thumbnail {
    margin-top: 20px;
    right: 10px;
    bottom: 20px;
    height: auto;
    padding: 0 10px;
    gap: 8px;
  }

  .thumbnail .item {
    font-size: 13px;
    width: 68px;
    height: 75px;
    padding: 12px;
  }

  .thump {
    display: none;
  }

  .slider {
    height: 50vh;
    position: relative;
    overflow: hidden;
    margin-top: -150px;
    z-index: 1;
  }

}

@media (max-width: 767px) {
  .slider .list .item .content {
    transform: translate(-20px, 120px);
  }

  .slider .list .item.active .content {
    transform: translate(0, 120px);
  }

  .slider {
    height: 70vh;
    position: relative;
    overflow: hidden;
    margin-top: -150px;
    z-index: 1;
  }

  .slider .list .item .content p {
    display: none;

  }
}