header {
  position: relative;
  z-index: 1000;
}

.top-header a {
  font-weight: bold;
}

.top-header a:hover {
  color: #EEB52A;
  font-weight: bold;

}

.top-header a:hover img {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

.cms-item-1 {
  transition: none;
}

nav>ul>li {
  margin: 0 20px !important;
}

.nav-link {
  position: relative;
  color: white;
  text-decoration: none;
  padding-bottom: 4px;
}

.nav-dark {
  color: #051a53 !important;
}

.nav-dark:hover {
  color: #eeb52a !important;
}


/* Base underline */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

/* HOME page underline (white) */
.header-home .nav-link::after {
  background-color: white;
}

/* INNER page underline (gold) */
.header-inner .nav-link::after {
  background-color: #EEB52A;
}

/* Show underline */
.nav-link:hover::after,
.nav-link.active::after {
  transform: scaleX(1);
}


@media (max-width: 1024px) {
  .top-header a span {
    display: none;
  }
}