/* Careers-Main.css */

.cms-gradient2 {
  position: relative;
  overflow: hidden;
  /* Ensures the pseudo-elements don't bleed outside rounded corners if you add them */
}

.cms-gradient2::before {
  background-color: rgb(46 49 146 / 45%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  /* Layer 1 */
}

.cms-gradient2::after {
  background: linear-gradient(to bottom, #eeb52a 0%, #eeb52a 19%, rgb(238 181 42 / 0%) 65%, rgb(238 181 42 / 0%) 100%);
  opacity: 0.65;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  /* Layer 2 */
}